---
title: Video Cloud Studio Documentation
parent: null
---

<article class="landing-page-wrapper">
  <section class="landing-page-header" id="landing_page_header">
    <h1>{{ site.title }}</h1>

    <p>{{ site.description }}</p>
  </section>
  <section class="card-wrapper">
    {% for section in site.data.navigation offset:1 %}
    <section class="bcls-card-small" onclick="window.location.href='{{ section.url }}'">

      <div class="card-icon">
        {{ section.icon }}
      </div>

      <div class="card-content">
        <h2>{{ section.name }}</h2>
        <ul>
          {% for doc in section.docs limit:4 %}
          <li><a href="{{ doc.url }}">{{ doc.name }}</a></li>
          {% endfor %}
        </ul>
        <p style="font-size:small;"><a href="{{ section.url }}">View all...</a></p>
      </div>
    </section>
    {% endfor %}
  </section>
</article>