---
title: Getting Started
description: Guides to help you get started.
icon: '<i class="far fa-location-arrow"></i>'
parent: Home
---
<style>
  h1 i.fal, h1 i.fab, h1 i.fas, h1 i.far {
    font-size: 3rem;
    color:{{site.product_color}};
    margin-right: .5rem;
  }
  .card-icon i {
    color: {{site.product_color}};
  }
  .card-wrapper {
  justify-content: start;
  }
  .bcls-card ul li {
    font-size: small;
  }
</style>

<article class="bcls-article">
  <h1>{{ page.icon }} {{ page.title }}</h1>
  <summary>{{ page.description }}</summary>
  <section class="card-wrapper">
    <section class="bcls-card">
      <div class="card-content">
        <h2 id="Topics_in_this_section">Topics in this section</h2>
        <ul>
        {% for item in site.data.navigation %}
        {% if item.name == page.title %}
              {% for entry in item.docs %}
                <li><a href="{{ entry.url }}">{{ entry.name }}</a>
                {% if entry.docs %}
                  <ul>
                    {% for subentry in entry.docs %}
                      <li><a href="{{ subentry.url }}">{{ subentry.name }}</a></li>
                    {% endfor %}
                  </ul>
                {% endif %}
                </li>
              {% endfor %}
        {% endif %}
      {% endfor %}
  
      </div>
    </section>
  </section>
</article>
