  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://support.brightcove.com/site-assets/js/site/https-fix.js"></script>
  <script src="https://support.brightcove.com/site-assets/js/site/setDate.js"></script>
  {% if page.layout != 'api-reference' %}
  <script src="https://support.brightcove.com/site-assets/js/site/prism.js"></script>
  {% endif %}
  <script src="https://support.brightcove.com/site-assets/js/site/site.js"></script>
  <script src="https://support.brightcove.com/site-assets/js/site/tabs.js"></script>
  {% if page.name != 'index.html' %}
  <script src="https://support.brightcove.com/site-assets/js/site/toc.js"></script>
  {% endif %}
  <script src="/assets/js/sites_nav.js"></script>
  <script src="https://support.brightcove.com/site-assets/js/site/bcls-utils.js"></script>
  <script src="https://support.brightcove.com/site-assets/js/site/local-link-fix.js"></script>
  <script src="/assets/js/feedback.js"></script>
  {% if page.name == 'search.html' %}
  <script src="/assets/js/sajari-results-foot.js"></script>
  {% else %}
  <script src="/assets/js/sajari-search-foot.js"></script>
  {% endif %}
  <!-- <script src="/assets/js/sajari-index.js"></script> -->
  <script src="https://assets.talla.com/latest/embeddedjs/talla.js"></script>
  <script src="/assets/js/talla-init.js"></script>
  <style>
    a.sj-paginator__page-number.sj-paginator__page-number--current.css-so0ov7 {
      background-color: lightblue;
    }
    div.sj-tabs__tab {
      margin-top: 3rem;
      margin-left: .3rem;
      border-top-left-radius: .4rem;
      border-top-right-radius: .4rem;
      background-color:#e8e8e8;
    }

    div.sj-tabs__tab.sj-tabs__tab--selected {
      border-bottom-color: crimson;
      background-color: #f8f8f8;
    }

    p.sj-results__result__description.css-p9jvyt {
      font-size: 1rem;
    }

    .sj-result__text.css-31l7gp h3 {
      color: navy;
      font-size: 1.4rem;
    }
    </style>

</body>

</html>