<footer class="bcls-footer" role="contentinfo">
  <div class="row">
    <div class="region region-footer-top-center col-md-12">
      <nav role="navigation" aria-labelledby="block-brightcovesupport-menu" id="block-brightcovesupport" class="footer-menu">

        <h2>Brightcove Support</h2>

        <ul class="menu">
          <li>
            <a href="https://status.brightcove.com">System Status</a>
          </li>
          <li>
            <a href="https://supportportal.brightcove.com/s/login/?">Contact Support</a>
          </li>
          <li>
            <a href="https://support.brightcove.com/">Documentation</a>
          </li>
        </ul>

      </nav>
      <nav role="navigation" aria-labelledby="block-training-menu" id="block-training" class="footer-menu">

        <h2>Training</h2>

        <ul class="menu">
          <li>
            <a href="https://studio.support.brightcove.com/training/online-training-courses.html">Online Courses</a>
          </li>
          <li>
            <a href="https://studio.support.brightcove.com/training/register-training.html">Register for a course</a>
          </li>
          <li>
            <a href="https://university.brightcove.com/">Brightcove University</a>
          </li>
        </ul>

      </nav>
      <nav role="navigation" aria-labelledby="block-brightcove-menu" class="footer-menu">

        <h2>Brightcove</h2>

        <ul class="menu">
          <li>
            <a href="https://www.brightcove.com">Brightcove.com</a>
          </li>
          <li>
            <a href="https://supportportal.brightcove.com/s/login/?">Contact Us</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="region region-footer-bottom-center col-md-12">
      <div class="bcls-copyright footer-menu">
        <table>
          <tr>
            <td>
              <div id="bc_copyright" class="field field--name-field-copyright-year field--type-string field--label-hidden field--item" style="float: left;"> Brightcove Inc. All rights reserved.</div>
            </td>
            <td><a href="https://www.brightcove.com/en/legal/privacy">Privacy</a> | <a href="https://www.brightcove.com/en/terms-and-conditions">Terms &amp; Conditions</a></td>
            <td>
              <div class="gf-links-cols footer-menu">
                <div class="gf-social"><a href="https://www.linkedin.com/company/16439" title="LinkedIn" newtab="newtab" class="gf-social-linkedin"><i class="fab fa-linkedin-in" style="font-size: 1.5rem;"></i></a><a href="https://twitter.com/brightcove" title="Twitter" newtab="newtab" class="gf-social-twitter"><i class="fab fa-twitter" style="font-size: 1.5rem;"></i></a><a href="https://www.facebook.com/Brightcove" title="Facebook" newtab="newtab" class="gf-social-facebook"><i class="fab fa-facebook-f" style="font-size: 1.5rem;"></i></a>
                </div>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</footer>
<div id="talla_wrapper">
  <p style="text-align: right;position: relative;"><button style="background:{{ site.product_color }};color:Snow;padding:.3rem;position:fixed;right:0;bottom:1em;z-index:9999999" onclick="javascript:displayChat()">Have a question? </button> </p>
  <div id="talla_chat">
</div>
</div>
<script>
      
  var searchBox = sajari.init({
    mode: "search-box",
    project: "1588255093746585379", // Set this to your project.
    collection: "brightcove-documenation", // Set this to your collection.
    instantPipeline: "autocomplete", // Pipeline used as you type
    inputPlaceholder: "Search", // Input element placeholder
    maxSuggestions: 5, // Maximum number of suggestions to show
    attachSearchBox: document.getElementById("nav-search-box") // DOM element to attach to
  });
  
    searchBox("sub", "pipeline.search-sent", function (_, query) {
      window.location = "/search.html?q=" + encodeURIComponent(query.q);
    });
  

</script>