<header>
  <div class="div-header">
    <a href="/"><img class="product-logo" src="https://support.brightcove.com/site-assets/images/site/product-logos/{{ site.product_icon }}" alt="product logo" style="max-height: 100px;max-width: 232px;"></a>
<!-- GTranslate: https://gtranslate.io/ -->
<select onchange="doGTranslate(this);"><option value="">Select Language</option><option value="en|en">English</option><option value="en|zh-TW">繁體中文</option><option value="en|fr">Français</option><option value="en|de">Deutsch</option><option value="en|ja">日本語</option><option value="en|ko">한국어</option><option value="en|es">Español</option></select>

<script>
/* <![CDATA[ */
function doGTranslate(lang_pair) {if(lang_pair.value)lang_pair=lang_pair.value;if(lang_pair=='')return;var lang=lang_pair.split('|')[1];var plang=location.hostname.split('.')[0];if(plang.length !=2 && plang.toLowerCase() != 'zh-cn' && plang.toLowerCase() != 'zh-tw')plang='en';location.href=location.protocol+'//'+(lang == 'en' ? '' : lang+'.')+location.hostname.replace('www.', '').replace(RegExp('^' + plang + '\\.'), '')+location.pathname+location.search;}
/* ]]> */
</script>

    <select id="site_select" class="bcls-select" style="margin-right: 1rem;">
      <option value="">Other Brightcove Docs</option>
      {% for site in site.data.sites %}
        {% if site.name != site.product %}
          <option value="{{ site.url }}">{{ site.name }}</option>
        {% endif %}
      {% endfor %}
    </select>


    <span class="secondary-nav"><a href="https://supportportal.brightcove.com/s/login/?"><img src="https://support.brightcove.com/site-assets/images/site/support.png" alt="support"> Contact Support</a> <span style="vertical-align: top;margin-left:1em;margin-right:1em;">|</span> <a href="https://status.brightcove.com/"><img src="https://support.brightcove.com/site-assets/images/site/status.png" alt="system status"> System Status</a></span>
    <br>
    
  </div>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb arr-right">
      {% if page.parent %}
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      {% endif %}
      {% if page.grandparent_name %}
      <li class="breadcrumb-item"><a href="{{ page.grandparent_path }}">{{ page.grandparent_name }}</a></li>
      {% endif %}
      {% if page.parent and page.parent != "Home" %}
      <li class="breadcrumb-item"><a href="{{ page.dir }}">{{ page.parent }}</a></li>
      {% endif %}
      <li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li>
    </ol>
  </nav>
</header>